.shadows-into light-regular {
    font-family: "Shadows Into Light", cursive;
    font-weight: 400;
    font-style: normal;
}
body{

}
h1{
    
}
header{
    color:white;
    background-image: url("../imgs/headertest(2).jpg");
    font-family: "Shadows Into Light";
    text-align: center;
}
footer{
    height: 50px;
    background: linear-gradient(0deg, rgba(2,0,36,1) 0%, 
rgba(9,9,121,1) 25%, rgba(0,212,255,1) 77%);
}

  